<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">
    <span class="element"></span>
  </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary a" %>
    <%= link_to "Project 1", 'https://rbhero.herokuapp.com', :target => "_blank", class: "btn btn-lg btn-secondary b" %>
    <%= link_to "Project 2", 'https://eat-it-reviews.herokuapp.com', :target => "_blank", class: "btn btn-lg btn-secondary c" %>
    <%= link_to "Project 3", 'https://espnn.herokuapp.com', :target => "_blank", class: "btn btn-lg btn-secondary d" %>
    <%= link_to "GitHub", 'https://github.com/robb52?tab=repositories', :target => "_blank", class: "btn btn-lg btn-secondary e" %>
  </p>
</div>

